@page "{id:int?}"



@model IndexModel



@{



    ViewData["Title"] = "Home page";



    string ladowanie = "..ladowanie";



}



<style>



    .btn2 {
        width: 200px;
    }

</style>






<h1>@Model.poziom</h1>
<h1><span id="ang">@ladowanie</span></h1>







<div class="vstack gap-3">



    <div>



        <button onclick="answer(0)" class="btn2 btn btn-warning btn-block custom-btn-size">



            <span id="pol0">@ladowanie</span>



        </button>



    </div>



    <div>



        <button onclick="answer(1)" class="btn2 btn btn-warning btn-block custom-btn-size">



            <span id="pol1">@ladowanie</span>



        </button>



    </div>



    <div>



        <button onclick="answer(2)" class="btn2 btn btn-warning btn-block custom-btn-size">



            <span id="pol2">@ladowanie</span>



        </button>



    </div>



    <div>



        <button onclick="answer(3)" class="btn2 btn btn-warning btn-block custom-btn-size">



            <span id="pol3">@ladowanie</span>



        </button>



    </div>









</div>

<table>

    <tr>

        <td>zostało:<span id="zrobione"></span></td>

        <td> <progress id="progBar" max="100" value="0"></progress><br /></td>

    </tr>

    <tr>

        <td>Żle:<span id="zle"></span></td>

        <td> <progress id="progBarzle" max="100" value="0"></progress><br /></td>

    </tr>

    <tr>

        <td>Dobrze:<span id="dobrze"></span></td>

        <td> <progress id="progBardobrze" max="100" value="0"></progress><br /></td>

    </tr>

</table>


<div id="circle">
    <span id="walsw"></span>
</div>

<script>



    var aktualny = 0;

    var poziom = '@Model.poziom';

    var zle = 0;

    var dobrze = 0;



    var slownik = null;

    function postep() {
        console.log('analiza')
        var zrobioneilosc = 20 - aktualny;

        $('#progBar').val(zrobioneilosc * 5);

        $('#zrobione').text(' ' + zrobioneilosc);

        $('#progBarzle').val(zle * 5);

        $('#zle').text(' ' + zle);

        $('#progBardobrze').val(dobrze * 5);

        $('#dobrze').text(' ' + dobrze);


    }

    function wyslijodpowiedzi() {







        postjson("api/ang", slownik, function (data) {


            alert('zapisano')








        }, function (data) {



            console.log(data)

        })



    }



    function answer(id) {

        if (aktualny >= 20) {
            alert('koniec wiecej nie ma')
            return
        }

        var slowo = slownik.slowa[aktualny];




        console.log('test', slowo.pol, slowo.odpowiedzi[id])



        if (slowo.pol == slowo.odpowiedzi[id]) {



            console.log('ok');

            dobrze = dobrze + 1

            slowo.stan = 1;



        }



        else {



            console.log('zle')

            zle = zle + 1

            slowo.stan = 2;



        }


        aktualny = aktualny + 1
        if (aktualny >= 20) {
            alert('koniec testu')
            wyslijodpowiedzi()


        }
        else {
            postep()

            showData(aktualny);
        }

    }
    function stancircle(stan) {
        $('#circle').circleProgress({
            value: stan * 0.05,
            size: 80,
            animation: false,
            fill: {
                gradient: ["red", "orange"]
            }
        })
            ;


    }

    function showData(pos) {

        var d = slownik.slowa[pos];
        $('#ang').text(d.ang);
        $('#pol0').text(d.odpowiedzi[0]);
        $('#pol1').text(d.odpowiedzi[1]);
        $('#pol2').text(d.odpowiedzi[2]);
        $('#pol3').text(d.odpowiedzi[3]);
        
        stancircle(dobrze)
    }


    

    
    getjson("api/ang/" + poziom, function (data) {


        postep();


        console.log('nazwa', data);



        slownik = data;







        showData(0)

    }, function (data) {









        console.log(data.message);





    })



</script>