@page "{id:int?}"



@model IndexModel



@{



    ViewData["Title"] = "Home page";



    string ladowanie = "..ladowanie";



}



<style>



    .btn2 {
        width: 200px;
    }

    .swsw {
        font-family: SpaceGrotesk-Light;
        color: red;
       
        font-size: 140px;
        margin-bottom: 40px;
    }

   
</style>


<div class="swsw">
   <span id="zostalo"> zaczynaj</span>
    <img src="~/img/number_1.jpg" />
    <img src="~/img/number_4.jpg" />
</div>



<h1> Poziom :@Model.poziomnazwa</h1>
<span style="color:brown;font-size:x-large" id="info"></span>
<h1><span id="ang">@ladowanie</span></h1>







<div class="vstack gap-3">



    <div>



        <button onclick="answer(0)" class="btn2 btn btn-warning btn-block custom-btn-size">



            <span id="pol0">@ladowanie</span>



        </button>



    </div>



    <div>



        <button onclick="answer(1)" class="btn2 btn btn-warning btn-block custom-btn-size">



            <span id="pol1">@ladowanie</span>



        </button>



    </div>



    <div>



        <button onclick="answer(2)" class="btn2 btn btn-warning btn-block custom-btn-size">



            <span id="pol2">@ladowanie</span>



        </button>



    </div>



    <div>



        <button onclick="answer(3)" class="btn2 btn btn-warning btn-block custom-btn-size">



            <span id="pol3">@ladowanie</span>



        </button>



    </div>









</div>

<table>

    <tr>

        <td>zostało:<span id="zrobione"></span></td>

        <td> <progress id="progBar" max="100" value="0"></progress><br /></td>

    </tr>

    <tr>

        <td>Żle:<span id="zle"></span></td>

        <td> <progress id="progBarzle" max="100" value="0"></progress><br /></td>

    </tr>

    <tr>

        <td>Dobrze:<span id="dobrze"></span></td>

        <td> <progress id="progBardobrze" max="100" value="0"></progress><br /></td>

    </tr>

</table>




<div >
    <div id="circle">
    </div>
    <span id="walsw" style="position: relative;top:-60px;left: 30px;">
        
    </span>
    
</div>
<br />
<a href="fiszka?id=@Model.poziom">fiszka</a>
<br />
<div id="stan"></div>
<br />
<table id="myTable" class="table table-striped">
    <thead>
        <tr>
            <th>Ang</th>
            <th>pol</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        
    </tbody>
    
</table>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="modalDeleteProductDelivery">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: fit-content">
            <div class="modal-header">


                <h4 class="modal-title" style="display:flex; gap: 15px; align-items: center"><i class="fas fa-question-circle"></i><span id="wynik" class="n"> Wynik testu</span>  </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal" id="btnProductNo">OK</button>
              
            </div>
        </div>
    </div>
</div>
<hr />
<partial name="PoziomView" model="@Model.poziom" />
<script>

    

    var aktualny = 0;

    var poziom = '@Model.poziom';

    var zle = 0;

    var dobrze = 0;
    var odpowiedz = 0;

    var iloscall = 20;

    var slownik = null;
    var datazle=null;

    function postep() {
      
        var zmiana=100/iloscall
        
        var zrobioneilosc = iloscall - aktualny;

        $('#progBar').val(zrobioneilosc * zmiana);

        $('#zrobione').text(' ' + zrobioneilosc);
        
        $('#zostalo').text('zostało: ' + zrobioneilosc);
        $('#progBarzle').val(zle * zmiana);

        $('#zle').text(' ' + zle);

        $('#progBardobrze').val(dobrze * zmiana);

        $('#dobrze').text(' ' + dobrze);
       
        if (odpowiedz > 0) {
            stancircle((dobrze / odpowiedz) * 100)
        }
    }

    function wyslijodpowiedzi() {
        var calosc = (dobrze / odpowiedz) * 100;
        stancircle(calosc)
        infoapp('twoj wynik to ' + calosc)
        var index=0
        for (index = 0; index < slownik.slowa.length; ++index) {
            var entry = slownik.slowa[index];
            if (entry.stan==2) {
                console.log(entry)
                $('#tableBody').append('<tr><td>' + entry.ang + '</td><td>' + entry.pol + '</td></tr>');
            }
        }
      
        //$('#modalDeleteProductDelivery').modal('show');
        $('#stan').text('koniec twoj wynik to ' + calosc);
        $('#wynik').text( 'Wynik testu ' + calosc+'%');
        postjson("api/ang", slownik, function (data) {


            infoapp('nowa lecja')
            
            console.log(data);
            LadujDane(poziom)


        }, function (data) {

            console.log(data)

        })



    }



    function answer(id) {
        $("#tableBody").empty();
        if (aktualny >= iloscall) {
            console.log('nie ma odpowiedzi', aktualny)
            infoapp('koniec wiecej nie ma')
            return
        }
        odpowiedz = odpowiedz + 1;
        var slowo = slownik.slowa[aktualny];
       



        if (slowo.pol == slowo.odpowiedzi[id]) {



       

            dobrze = dobrze + 1

            slowo.stan = 1;



        }



        else {



          

            zle = zle + 1

            slowo.stan = 2;



        }


        aktualny = aktualny + 1
        console.log('aktualny odp', aktualny)
        if (aktualny >= iloscall) {
            infoapp('koniec testu')
            wyslijodpowiedzi()


        }
        else {
            postep()

            showData(aktualny);
        }

    }
    function stancircle(stan) {
      
        $('#walsw').text(Math.round(stan))
        $('#circle').circleProgress({
            value: stan * 0.01,
            size: 80,
            animation: false,
            fill: {
                gradient: ["red", "orange"]
            }
        })
            ;


    }

    function showData(pos) {
        
        var d = slownik.slowa[pos];
        $('#ang').text(d.ang);
        $('#pol0').text(d.odpowiedzi[0]);
        $('#pol1').text(d.odpowiedzi[1]);
        $('#pol2').text(d.odpowiedzi[2]);
        $('#pol3').text(d.odpowiedzi[3]);
        
       
    }
    LadujDane(poziom)
    function infoapp(tekst) {
        
        $('#info').text(tekst)
    }
    function LadujDane(poziom) {
        aktualny = 0;
        console.log('aktualny', aktualny)
        var poziom = '@Model.poziom';

      
        zle = 0;

       
        dobrze = 0;
       
        odpowiedz = 0;
        


        getjson("api/ang/" + poziom, function (data) {

            iloscall = data.slowa.length;
            postep();


            



            slownik = data;
            
            showData(0)

        }, function (data) {









            console.log(data.message);





        })
    }


</script>