@page
@model AngielskiNauka.Pages.IndexModel

<style>
    .zaokraglony-div {
        padding: 15px 20px;
        border-radius: 20px;
        display: inline-flex; /* <-- kluczowa zmiana */
        align-items: center;
        gap: 10px;
        font-size: 1.1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        margin-left: 10px; /* odstęp między divami */
    }

    body {
        background: #f0f4f8;
        font-family: 'Arial', sans-serif;
        height: 100vh;
        margin: 0;
    }

    .quiz-container {
        background: white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        width: 400px;
        text-align: left;
    }

    .question {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    }

    .answers {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

        .answers button {
            background-color: #e3e9f0;
            border: none;
            padding: 12px;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
            text-align: left;
        }

            .answers button:hover {
                background-color: #c5d3e0;
                transform: scale(1.02);
            }

            .answers button:active {
                background-color: #a5b8cd;
                transform: scale(0.98);
            }

    .result {
        margin-top: 25px;
        font-size: 20px;
        font-weight: bold;
        color: #2b6cb0;
    }

    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color:aliceblue;
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content:left;
        align-items: center;
        color: black;
    }

    .summary {
        margin-bottom: 20px;
        padding: 10px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

        .summary div {
            margin: 5px 0;
        }

    .words {
        background: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .word {
        margin: 5px 0;
    }

        .word strong {
            color: #2c3e50;
        }
</style>
<span style="color:brown;font-size:x-large">Poziom @Model.poziomnazwa</span>
<br />
<partial name="_Info" model="@Model.poziom" />
<br />
<div id="angdiv" class="zaokraglony-div" onclick="angielski()" style="background-color: #ccffcc;">
    Lekcja:
    <img src="~/img/ang.png" class="flag" alt="Angielska flaga" />
    na
    <img src="~/img/pol.png" class="flag" alt="Polska flaga" />
</div>
<div id="poldiv" class="zaokraglony-div" onclick="polski()" style="background-color: #f0f0f0;">
    Lekcja:


    <img src="~/img/pol.png" class="flag" alt="Polska flaga" />
    na
    <img src="~/img/ang.png" class="flag" alt="Angielska flaga" />
</div>
<br />
<span style="color:brown;font-size:x-large" id="info"></span>

<div id="quizContainer" class="quiz-container">
    <button id="fullscreenBtn">🔍</button>
    <div class="question"> <span id="ang"></span>
        <span id="poziom" style="margin-left: 10px;color:darkorange">aaa</span>
    </div>
    <div class="answers">
        <button onclick="answer(0)" id="pol0"></button>
        <button onclick="answer(1)" id="pol1"></button>
        <button onclick="answer(2)" id="pol2"></button>
        <button onclick="answer(3)" id="pol3"></button>
    </div>
    <div> Zostało: <span id="zostaloid">0</span> słówek</div>
   
</div>
@* <div id="nauka-bar-container" style="margin-top: 30px; height: 25px; border-radius: 15px; background-color: #e0e0e0; overflow: hidden;">
    <div id="nauka-bar" style="height: 100%; width: 0%; border-radius: 15px;"></div>
</div> *@
Stan:
<div id="nauka-bar-container" style="height: 25px; border-radius: 15px; background-color: #e0e0e0; overflow: hidden;">
    <div id="nauka-bar" style="height: 100%; width: 0%; border-radius: 15px;text-align:center">
        <span id="postepid">0</span>
    </div>
</div>

<div id="wyniki" style="margin-top:20px; font-size:18px; color:#555;">
    ✅ Dobrze: <span id="dobrze">0</span> |
    ❌ Źle: <span id="zle">0</span>
</div>
<div class="summary">
    <h2>Statystyki</h2>
    <div><strong>Wszystkie:</strong> <span id="all"></span></div>
    <div><strong>Błędy:</strong> <span id="error"></span></div>
    <div><strong>Nauczone:</strong> <span id="learn"></span></div>
    <div><strong>Czas:</strong> <span id="czas"></span></div>
    <div><strong>Twój wynik:</strong> <span style="color:red" id="ok"></span></div>
</div>

<div class="words">
    <h2>Powtórka słówek</h2>
    <div id="repeat-list"></div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

<script>
    var now = new Date().toISOString();

    document.getElementById("fullscreenBtn").addEventListener("click", function () {
        const quiz = document.getElementById("quizContainer");
        quiz.classList.toggle("fullscreen");
    });

    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chathub")
        .build();

    connection.start().catch(err => console.error(err.toString()));

    var poziom = '@Model.poziom';
    var typ = 0; // 0 to angielski, 1 to polski
    var mnoznik = '@Model.mnoznik';
    var iloscall = '@Model.ile';
    var aktualny = 0;
    var poprawne = 0;
    var bledne = 0;

    LoadData();

    function angielski() {
        document.getElementById('angdiv').style.backgroundColor = '#ccffcc';
        document.getElementById('poldiv').style.backgroundColor = '#f0f0f0';
        typ = 0;
        LoadData();
    }

    function polski() {
        document.getElementById('poldiv').style.backgroundColor = '#ccffcc';
        document.getElementById('angdiv').style.backgroundColor = '#f0f0f0';
        typ = 1;
        LoadData();
    }

    function aktualizujWyniki() {
        $('#dobrze').text(poprawne);
        $('#zle').text(bledne);

        var zostalo = iloscall - aktualny;
        setValue('zostaloid', zostalo);

        var progress = (aktualny / iloscall) * 100;
        $('#progress-bar').css('width', progress + '%');

        aktualizujKolorNauki((poprawne / aktualny) * 100);
    }

    function aktualizujKolorNauki(procent) {
        if (!isNaN(procent)) {
            setValue('postepid', Math.floor(procent));
        } else {
            setValue('postepid', '');
        }

        const bar = document.getElementById('nauka-bar');
        bar.style.width = procent + '%';
        bar.style.backgroundColor = getKolorZPalety(procent);
        bar.style.transition = 'width 0.5s ease, background-color 0.5s ease';
    }

    function getKolorZPalety(procent) {
        let r, g;
        if (procent < 50) {
            r = 255;
            g = Math.round(5.1 * procent);
        } else {
            g = 255;
            r = Math.round(510 - 5.1 * procent);
        }
        return `rgb(${r},${g},0)`;
    }

    function wyslijodpowiedzi() {
        const quiz = document.getElementById("quizContainer");
        quiz.classList.remove("fullscreen");

        wait('Wysłamy odpowiedzi');

        var teraz = new Date().toISOString();
        const d1 = new Date(now);
        const d2 = new Date(teraz);

        const roznicaMs = d2 - d1;
        const sekundy = Math.floor(roznicaMs / 1000);
        const minuty = Math.floor(sekundy / 60);

        setValue('czas', `czas testu: ${minuty % 60} min, ${sekundy % 60} sek.`);

        postjson("api/ang", slownik, function (data) {
            setValue('all', data.all);
            setValue('error', data.error);
            setValue('learn', data.learn);
            setValue('ok', data.ok + '(' + data.procent + '%)');

            const repeatList = document.getElementById('repeat-list');
            data.repeat.forEach(entry => {
                const [word, translation] = entry.split(':');
                const div = document.createElement('div');
                div.className = 'word';
                div.innerHTML = `<strong>${word}</strong>: ${translation}`;
                repeatList.appendChild(div);
            });

            LoadData();
            hideLoader();
        }, function (data) {
            hideLoader();
        });
    }

    function sendMessage(status, ang, pol) {
        connection.invoke("SendMessage", status, ang, pol).catch(err => console.error(err.toString()));
    }

    function answer(id) {
        var slowo = slownik.slowa[aktualny];

        if (aktualny == 0) {
            now = new Date().toISOString();
            console.log(now);
        }

        if (slowo.pol == slowo.odpowiedzi[id]) {
            sendMessage('1', slowo.ang, slowo.pol);
            poprawne++;
            slowo.stan = 1;
        } else {
            sendMessage('0', slowo.ang, slowo.pol);
            bledne++;
            infoapp(slowo.ang + ':' + slowo.pol);
            slowo.stan = 2;
        }

        aktualny++;
        aktualizujWyniki();

        if (aktualny >= iloscall) {
            wyslijodpowiedzi();
        } else {
            showData(aktualny);
        }
    }

    function infoapp(tekst) {
        $('#info').text(tekst);
    }

    function showData(pos) {
        var d = slownik.slowa[pos];
        
        $('#ang').text(d.ang);
        if (d.poziom < 0) {
            setValue('poziom', '*'.repeat(d.poziom*-1))
        }
        else {
            setValue('poziom', '')
        }
        
        $('#pol0').text(d.odpowiedzi[0]);
        $('#pol1').text(d.odpowiedzi[1]);
        $('#pol2').text(d.odpowiedzi[2]);
        $('#pol3').text(d.odpowiedzi[3]);
    }

    // typ 0 to ang-->pol, typ 1 to pol-->ang
    function LoadData() {
        infoapp('....Ładujemy dane');

        aktualny = 0;
        poprawne = 0;
        bledne = 0;
        aktualizujWyniki();

        getjson("api/ang/" + poziom + '/' + typ, function (data) {
            infoapp('');
            slownik = data;
            showData(0);
        }, function (data) {
            console.log(data.message);
            hideLoader();
        });
    }
</script>
