@page
@model AngielskiNauka.Pages.IndexModel

<style>
    body {
        background: #f0f4f8;
        font-family: 'Arial', sans-serif;
        height: 100vh;
        margin: 0;
    }

    .quiz-container {
        background: white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        width: 400px;
        text-align: left;
    }

    .question {
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    
    }

    .answers {
        display: flex;
        flex-direction: column;
        gap: 15px;
      
    }

        .answers button {
            background-color: #e3e9f0;
            border: none;
            padding: 12px;
            border-radius: 10px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
            text-align: left;
        }

            .answers button:hover {
                background-color: #c5d3e0;
                transform: scale(1.02);
            }

            .answers button:active {
                background-color: #a5b8cd;
                transform: scale(0.98);
            }

    .result {
        margin-top: 25px;
        font-size: 20px;
        font-weight: bold;
        color: #2b6cb0;
    }

    .summary {
        margin-bottom: 20px;
        padding: 10px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

        .summary div {
            margin: 5px 0;
        }

    .words {
        background: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .word {
        margin: 5px 0;
    }

        .word strong {
            color: #2c3e50;
        }
</style>
<span style="color:brown;font-size:x-large" >Poziom @Model.poziomnazwa</span><br />
<span style="color:brown;font-size:x-large" id="info"></span>

<div class="quiz-container">
    <div class="question" id="ang"></div>
    <div class="answers">
        <button onclick="answer(0)" id="pol0"></button>
        <button onclick="answer(1)" id="pol1"></button>
        <button onclick="answer(2)" id="pol2"></button>
        <button onclick="answer(3)" id="pol3"></button>
    </div>
</div>
@* <div id="nauka-bar-container" style="margin-top: 30px; height: 25px; border-radius: 15px; background-color: #e0e0e0; overflow: hidden;">
    <div id="nauka-bar" style="height: 100%; width: 0%; border-radius: 15px;"></div>
</div> *@
<div id="nauka-bar-container" style="margin-top: 30px; height: 25px; border-radius: 15px; background-color: #e0e0e0; overflow: hidden;">
    <div id="nauka-bar" style="height: 100%; width: 0%; border-radius: 15px;text-align:center">
        <span id="postepid">0</span>
    </div>
</div>

<div style="width: 100%; background-color: #e3e9f0; border-radius: 10px; margin-bottom: 20px;">
    <div id="progress-bar" style="height: 25px; width: 0%; background-color: #2b6cb0; border-radius: 10px;"></div>
</div>
<div id="wyniki" style="margin-top:20px; font-size:18px; color:#555;">
    ✅ Dobrze: <span id="dobrze">0</span> |
    ❌ Źle: <span id="zle">0</span>| zostało <span id="lp">0</span>
</div>
<div class="summary">
    <h2>Statystyki</h2>
    <div><strong>Wszystkie:</strong> <span id="all"></span></div>
    <div><strong>Błędy:</strong> <span id="error"></span></div>
    <div><strong>Nauczone:</strong> <span id="learn"></span></div>
    <div><strong>Twój wynik:</strong> <span style="color:red" id="ok"></span></div>
</div>

<div class="words">
    <h2>Powtórka słówek</h2>
    <div id="repeat-list"></div>
</div>

<partial name="_Info" model="@Model.poziom" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>

<script>
    const connection = new signalR.HubConnectionBuilder()
           .withUrl("/chathub")
           .build();

    connection.start().catch(err => console.error(err.toString()));

        var poziom = '@Model.poziom';
    var mnoznik = '@Model.mnoznik';
    var iloscall = '@Model.ile';
    var aktualny = 0;
    var poprawne = 0;
    var bledne = 0;

    LoadData(poziom)

    function aktualizujWyniki() {
        $('#dobrze').text(poprawne);
    var procent=(poprawne/aktualny)*100;
        aktualizujKolorNauki((poprawne/aktualny)*100);
        $('#zle').text(bledne);
        var zostalo=iloscall-aktualny
        $('#lp').text(zostalo);
        // Update progress bar
        var progress = (aktualny / iloscall) * 100;
     
         setValue('proc', procent);
        $('#progress-bar').css('width', progress + '%');
    }
    function aktualizujKolorNauki(procent) {
        if (!isNaN(procent)) {
            setValue('postepid', Math.floor(procent));
        }
        else {
            setValue('postepid', '');
        }
    
        const bar = document.getElementById('nauka-bar');
        bar.style.width = procent + '%';
        bar.style.backgroundColor = getKolorZPalety(procent);
        bar.style.transition = 'width 0.5s ease, background-color 0.5s ease';
    }

    function getKolorZPalety(procent) {
  
        // Przechodzimy od czerwonego (0%) do zielonego (100%)
        let r, g;

        if (procent < 50) {
            // Czerwony do żółtego
            r = 255;
            g = Math.round(5.1 * procent);  // 0–255
        } else {
            // Żółty do zielonego
            g = 255;
            r = Math.round(510 - 5.1 * procent); // 255–0
        }

        return `rgb(${r},${g},0)`;
    }



    function wyslijodpowiedzi() {
        wait('Wysłamy odpowiedzi');




        postjson("api/ang", slownik, function(data) {

            setValue('all', data.all);
            setValue('error', data.error);
            setValue('learn', data.learn);
            setValue('ok', data.ok+'('+data.procent+'%)');

            const repeatList = document.getElementById('repeat-list');
            data.repeat.forEach(entry => {
                const [word, translation] = entry.split(':');
                const div = document.createElement('div');
                div.className = 'word';
                div.innerHTML = `<strong>${word}</strong>: ${translation}`;
                repeatList.appendChild(div);
            });

            LoadData(poziom)
            hideLoader()

        }, function(data) {


            hideLoader()

        })
        }



         function sendMessage(dane) {
       
        connection.invoke("SendMessage", 'aaa', dane).catch(err => console.error(err.toString()));
    }

    function answer(id) {

        var slowo = slownik.slowa[aktualny];
   

        if (slowo.pol == slowo.odpowiedzi[id]) {
            sendMessage(slowo.pol);
            poprawne = poprawne + 1;
            slowo.stan = 1;
        } else {
            bledne = bledne + 1;
            infoapp(slowo.ang + ':' + slowo.pol);
            slowo.stan = 2;
        }


        aktualny = aktualny + 1;
        sendMessage(aktualny);
         aktualizujWyniki();
        if (aktualny >= iloscall) {

            wyslijodpowiedzi();


        } else {
            showData(aktualny);
        }

    }

    function infoapp(tekst) {

        $('#info').text(tekst)
    }

    function showData(pos) {

        var d = slownik.slowa[pos];

        $('#ang').text(d.ang);
        $('#pol0').text(d.odpowiedzi[0]);
        $('#pol1').text(d.odpowiedzi[1]);
        $('#pol2').text(d.odpowiedzi[2]);
        $('#pol3').text(d.odpowiedzi[3]);


    }
  

    function LoadData(p) {
        infoapp('....Ładujemy dane')

        aktualny = 0;
        poprawne = 0;
        bledne = 0;
        aktualizujWyniki();

        getjson("api/ang/" + poziom, function(data) {

            infoapp('')

         


            slownik = data;

            showData(0)

        }, function(data) {

            console.log(data.message);




        })
    }
</script>