@page
@model AngielskiNauka.Pages.JobModel
@inject LocService ls
@{
    int lp = 1;

}
@{
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f7fb;
        color: #333;
        margin: 0;
        padding: 0;
    }

    h2 {
        color: #333;
        font-size: 24px;
        text-align: center;
        margin-top: 20px;
    }

    form {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    input[type="text"] {
        padding: 10px;
        width: 70%;
        border-radius: 8px;
        border: 1px solid #ddd;
        font-size: 16px;
    }

    button {
        padding: 10px 15px;
        background-color: #4CAF50;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 10px;
    }

        button:hover {
            background-color: #45a049;
        }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 20px 0;
    }

    li {
        background-color: white;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        li span {
            font-size: 18px;
            color: #555;
        }

        li button {
            background-color: #f44336;
            margin-left: 10px;
        }

            li button:hover {
                background-color: #e41f1f;
            }

    .completed {
        text-decoration: line-through;
        color: #888;
    }

</style>
<h2>@ls.Get("tasks")</h2>


<input type="text" name="NewTaskText" placeholder="Enter task" required />
<button onclick="addTask()" type="submit">@ls.Get("taskadd")</button>




<table class="table table-hover">
    <thead>
        <tr>
            <th>@ls.Get("taskName")</th>
            <th>@ls.Get("time")</th>
            <th>@ls.Get("")</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
            <tr>


                <td>@item.Name</td>
                <td>@item.TimeJob</td>
                <td> <button onclick="() => AddTime(task.Id)">Add Time</button></td>
            </tr>

        }

    </tbody>
</table>
<script>
    function addTask() {
        var taskText = $('input[name="NewTaskText"]').val();
       
        postjson("api/zad/addtask", taskText, function (data) {

            window.location.reload();



        }, function (data) {

            console.log(data)

        })

    }

    // getjson("api/zad/jobs", function (data) {
    //     console.log(data);

    // }, function (data) {

    //     console.log(data.message);





    // })
</script>