@page "{id:int?}/{wal?}"
@model AngielskiNauka.Pages.KursModel
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@{
}
<h1>Kurs waluty @Model.waluta za ostatnie @Model.poziom notowan (od @Model.exchangeRateResponse.rates.Min(k=>k.effectiveDate))</h1>
<canvas id="myChart"></canvas>

<script>
    var labels = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.exchangeRateResponse.rates.Select(x => x.effectiveDate)));
    var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.exchangeRateResponse.rates.Select(x => x.bid)));
    var ask = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.exchangeRateResponse.rates.Select(x => x.ask)));
    console.log(data);
    let maxVal = Math.min(...data);
    console.log(maxVal);
    tabela('myChart', 'Sprzedaz', labels, data, maxVal)
    function tabela(divName, title, x, y,min) {
        const average = y.reduce((a, b) => a + b, 0) / y.length;
        // Render the chart
        var ctx = document.getElementById(divName).getContext('2d');
        ctx.width = 200;
        ctx.height = 200;
        var salesChart = new Chart(ctx, {
            type: 'line', // Change to 'line', 'pie', etc., if needed
            data: {
                labels: x,
                datasets: [{
                    label: title,
                    data: y, // Values for each slice
                    borderWidth: 2,
                    tension: 0.4 // Ustawienie wartości napięcia dla łagodnej krzywej
                },
                {
                    label: 'Kupno',
                    data: ask,
                    borderWidth: 2,
                    tension: 0.4 // Ustawienie wartości napięcia dla łagodnej krzywej
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        suggestedMin: min,
                    }
                }
            }

        });

    }
</script>