@page "{id:int?}"
@model AngielskiNauka.Pages.NaukaModel
@inject LocService ls
@{
    int lp = 1;

}

<table class="table table-hover">
    <thead>
        <tr>
            <th>@ls.Get("lp")</th>
            <th>@ls.Get("ang")</th>
            <th>@ls.Get("pol")</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.powtarzanie)
        {
            <tr>
                <td>@(lp++)</td>
                <td>@item.Ang</td>
                <td>@item.Pol</td>
               
            </tr>

        }

    </tbody>
</table>

