@page

@model AngielskiNauka.Pages.PoziomModel

@inject LocService ls
@{
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poziom</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lista)
        {
            <tr>
                <td>@item.nazwa</td>
                <td>
                    <a href="/@item.id">Testuj</a>

                </td>
                <td>
                    <a href="/show/@item.id">@ls.Get("przeglad")</a>

                </td>
                <td>
                    <a href="/fiszka/@item.id">@ls.Get("fiszka")</a>

                </td>
                <td>

                    <button onclick="deletep(@item.id)">@ls.Get("delete")</button>
                </td>
            </tr>

        }

    </tbody>
</table>
<script>
    function deletep(poziomid)
    {
        wait('Usuwanie poziomu')
        postjson("api/ang/deletelevel", poziomid, function (data) {

           

            hideLoader()
            load();

        }, function (data) {

            console.log(data)
            hideLoader()

        })




    }
</script>

