@page

@model AngielskiNauka.Pages.PoziomModel

@inject LocService ls
@{
}
<style>
    .admin-button {
        background-color: #2c3e50; /* ciemny niebiesko-szary */
        color: white;
        border: none;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.2s ease, box-shadow 0.2s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

        /* Hover efekt */
        .admin-button:hover {
            background-color: #1a252f;
        }

        /* Fokus efekt */
        .admin-button:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(44, 62, 80, 0.4);
        }

</style>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poziom</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.lista)
        {
            <tr>
                <td>
                    <a title="Przeglad slowek" href="/show?id=@item.id">@item.nazwa</a>
                
                </td>
                <td>
                    <a title="Przeglad slowek" href="/stat?id=@item.id">stat</a>

                </td>
                <td>
                   
                    <a title="Wykonaj test" href="/?id=@item.id">Testuj2</a>

                </td>
                <td>

                    <button class="button" onclick="resetp(@item.id)">@ls.Get("reset")</button>
                </td>
                <td>

                    <button class="button" onclick="deletep(@item.id)">@ls.Get("delete")</button>
                </td>
            </tr>

        }

    </tbody>
</table>
<script>
    function deletep(poziomid)
    {
        wait('Usuwanie poziomu')
        postjson("api/ang/deletelevel", poziomid, function (data) {



            hideLoader()
            load();

        }, function (data) {

            console.log(data)
            hideLoader()

        })

    }
    function resetp(poziomid)
    {
         wait('Resetowanie poziomu poziomu')
         postjson("api/ang/resetlevel", poziomid, function (data) {



            hideLoader()
         

        }, function (data) {

            console.log(data)
           

        })

         
    }
</script>

