@page
@using AngielskiNauka.Resources
@model AngielskiNauka.Pages.StatModel
@inject LocService SharedLocalizer
@{
}
<div>Ilosc powyzej 80%</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poziom</th>
            <th>Ilosc</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pods)
        {
            <tr>
                <td>@item.nazwa</td>
                <td>@item.ilosc</td>
               

            </tr>

        }

    </tbody>
</table>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poziom</th>
            <th>Dzień</th>
            <th>Procent poprawny</th>
            <th>postep</th>
            <th>do powtórzenia</th>

        </tr>
    </thead>
    <tbody>
        @*

        <a href="/show/@item.id">@SharedLocalizer.Get("przeglad")</a>
        *@
        @foreach (var item in Model.stat)
        {
            <tr>
                <td>@item.Poziom</td>
                <td>@item.Data</td>
                @if (item.Powyzej)
                {
                    <td style="background-color:aqua">@item.Ilosc</td>
                }
                else
                {
                    <td>@item.Ilosc</td>
                }
                <td><progress id="progBardobrze" max="100" value="@item.Ilosc"></progress></td>
                <td>
                    <a href="/nauka/@item.Id">@SharedLocalizer.Get("przeglad")</a>
                </td>
            </tr>

        }

    </tbody>
</table>