@page
@using AngielskiNauka.Resources
@model AngielskiNauka.Pages.StatModel
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@inject LocService SharedLocalizer
@{
}

<div>Ilosc powyzej 80%</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poziom</th>
            <th>Ilosc</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.pods)
        {
            <tr>
                <td>@item.nazwa</td>
                <td>@item.ilosc</td>


            </tr>

        }

    </tbody>
</table>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Poziom</th>
            <th>Dzień</th>
            <th>Procent poprawny</th>
            <th>postep</th>
            <th>do powtórzenia</th>

        </tr>
    </thead>
    <tbody>
        @*

        <a href="/show/@item.id">@SharedLocalizer.Get("przeglad")</a>
        *@
        @foreach (var item in Model.stat)
        {
            <tr>
                <td>@item.Poziom</td>
                <td>@item.Data</td>
                @if (item.Powyzej)
                {
                    <td style="background-color:aqua">@item.Ilosc</td>
                }
                else
                {
                    <td>@item.Ilosc</td>
                }
                <td><progress id="progBardobrze" max="100" value="@item.Ilosc"></progress></td>
                <td>
                    <a href="/nauka/@item.Id">@SharedLocalizer.Get("przeglad")</a>
                </td>
            </tr>

        }

    </tbody>
</table>
<hr />
<canvas id="myChart"></canvas>

<script>
    var labels = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.stat.Select(x => x.Id)));
    var data = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.stat.Select(x => x.Ilosc)));

    tabela('myChart', 'Postęp', labels, data)
    function tabela(divName, title, x, y) {
        const average = y.reduce((a, b) => a + b, 0) / y.length;
        // Render the chart
        var ctx = document.getElementById(divName).getContext('2d');
        ctx.width = 200;
        ctx.height = 200;
        var salesChart = new Chart(ctx, {
            type: 'line', // Change to 'line', 'pie', etc., if needed
            data: {
                labels: x,
                datasets: [{
                    label: title,
                    data: y, // Values for each slice
                    borderWidth: 2,
                    fill: true,
                    tension: 0.4 // Ustawienie wartości napięcia dla łagodnej krzywej
                },
                {
                    label: 'Średnia',
                    data: Array(y.length).fill(average),
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2,
                    borderDash: [10, 5],
                
                    tension: 0
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true
                    }
                },
                scales: {
                    x: {
                        beginAtZero: true
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
            
        });

    }
</script>