<a asp-area="" asp-page="/Index" asp-route-id="@Model" class="button">Testy</a>
<a asp-area="" asp-page="/show" asp-route-id="@Model" class="button">Przegląd</a>
<a asp-area="" asp-page="/quiz" asp-route-id="@Model" class="button">Quiz</a>
<a asp-area="" asp-page="/fiszka" asp-route-id="@Model" class="button">Fiszka</a>
<a asp-area="" asp-page="/stat" asp-route-id="@Model" class="button">Stat</a>
<a asp-area="" asp-page="/Poziom" class="button">Poziomy</a>


<a style="cursor: pointer;" onclick="pobierzPDFPoziom(@Model)" class="button">PDF</a>